.root {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 2vw;

    > * {
        display: flex;
    }

    header {
        flex-direction: column;
        padding: 2vw;
        border-bottom: 1px solid #DEE6EF;
    }
}

.title {
    display: flex;
    font-size: 5vw;
}

.tags {
    display: flex;
}

.tag {
    margin: 2px 2px 2px 0;
    padding: 0 2vw;

    background: #f7fdff;
    border: 1px solid #c0d4db;
    border-radius: 14px;

    font-size: 3vw;
    font-weight: normal;    
    color: #566e76;
    text-align: center;
}

.content {
    padding: 2vw;
    border-bottom: 1px solid #DEE6EF;
    font-size: 4vw;
}

.owner {
    padding: 2vw;
    border-bottom: 1px solid #DEE6EF;
    background: #E3F8FF;
}

.comments {
    flex-direction: column;
}

@media screen and (min-width: 841px) {
    .title {
        font-size: 3vw;
    }

    .content {
        font-size: 2vw;
    }
}
