.normal {
  color: red
}

.disabled { color: 'asdasasdasdasdasd' }
.asdadsdasadsads { color: white }
.error { /* all styles for Error */ }
.inProgress { /* all styles for In Progress */ }

.text {
    color: #222426;
}

a {
    color: #0077CC;
    text-decoration: none;
}

.date, .time {
  color: #999;
}
