.container {
    padding: 0;
    border-bottom: 1px solid #DEE6EF;

    > header {
        padding: 1vw;
        background-color: #E9EEF5;
    }

    @media screen and (min-width: 841px) {
        & {
            width: 66.66vw;
            margin: 0 auto;
            border-bottom: none;

            > header {
                margin-bottom: 1vw;
            }
        }
    }
}

.title {
    font-weight: bold;
    color: #000;
}


@media screen and (min-width: 841px) {
    .item {
        margin-bottom: 2vw;
    }
}
