.actionButton {
    -webkit-appearance: none;
    padding: .8em .7em .6em .7em;
    border-radius: 3px;
    color: #FFF;
    background-color: #4CA3D7;
    font-weight: normal;
    border: 0;
    margin: 1em 0 2em 1em;
    float: right;
    box-shadow: 0 3px 0 0 #086586;
    font-size: 3vw;
}
