.container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 841px) {
        & {
            width: 66.66vw;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 841px) {
    .main {
        margin-bottom: 2vw;
    }
}
