@import "../../../theme/color.scss";
.container {
    border-bottom: solid 1px #DEE2E7;
}

.hide {
    display: none;
}

.comment {
    display: flex;
    padding: 2vw 5vw 2vw;
}

.content {
    margin-right: 3vw;
    border: 0;
    color: #686C6E;
    padding: 3vw 2vw;
    font-size: 3vw;
    -ms-word-break: break-word;
    word-break: break-word;
}

.info {
    display: flex;
}

.controlBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    div, section, article {
        display: flex;
    }
}

.link {
    composes: link from "../../../theme/buttons.scss";
}

@media screen and (min-width: 481px) {
    .container {
        padding: 0;
    }

    .comment {
        padding: 0;
    }

    .content {
        font-size: 1vw;
        color: #222426;
    }
}

@media screen and (min-width: 841px) {
    .container {
        padding: 0;
    }

    .comment {
        padding: 0;
    }

    .content {
        padding: 0;
    }

    .link {
        font-size: 1vw;
        padding: 0;
        padding-right: 1vw;
        margin: 0;
    }
}
