@import "../../../theme/color.scss";
.container {
    border-bottom: solid 1px #DEE2E7;
}

.hide {
    display: none;
}

.comment {
    display: flex;
    padding: 2vw 5vw 2vw;
}

.content {
    margin-right: 3vw;
    border: 0;
    color: #686C6E;
    padding: 3vw 2vw;
    font-size: 3vw;
    -ms-word-break: break-word;
    word-break: break-word;
}

.info {
    display: flex;
}

.controlBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    div, section, article {
        display: flex;
    }
}

.link {
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 1.5vw 3vw;
    font-size: 3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background: none;
    margin: 0;
    composes: link from "../../../theme/color.scss";
}

@media screen and (min-width: 481px) {
    .comment {
        padding: 2vw 3vw 2vw;
    }
}

@media screen and (min-width: 841px) {
    .comment {
        padding: 1vw 3vw 1vw;
    }
}
