@import "../../../theme/color.scss";

.comment {
    border-bottom: solid 1px #DEE2E7;
    padding: 2vw 5vw 2vw;
}

.controlBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link {
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 1.5vw 3vw;
    font-size: 3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background: none;
    margin: 0;
    // composes: link from "../../../theme/color.scss";
    color: color.link;
}

@media screen and (min-width: 481px) {
    .comment {
        padding: 2vw 3vw 2vw;
    }
}

@media screen and (min-width: 841px) {
    .comment {
        padding: 1vw 3vw 1vw;
    }
}
